<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 
            DBConn- Define la string de conexion a la base de datos (TNGS)
            DBUser- Usuario de conexion
            DBPass- Password del usuario (Cifrada TNGS)
            FLPath- Path donde se ubican los archivos a importar
            DLLPath- Path donde busca la DLL con las clases para FileProcess
        -->
    <add key="DBConn" value="MSSql;(local);InscripcionesCursos;" />
    <add key="DBUser" value="manUnlz" />
    <add key="DBPass" value="LnJdNnNiFkHbLmFaFhNhPgGbDfCdMjKm" />
    <add key="FLPath" value="C:\DatosInscripciones\UnlzTemp" />
    <add key="DLLPath" value="(No Modificar)" />
  </appSettings>
  <connectionStrings>
    <add name="InscripcionesCursos"
         connectionString="Data Source=(local);Initial Catalog=InscripcionesCursos;User ID=manUnlz;Password=unlzM4n2012" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
